<form name="clear-form" class="small-12"
  ng-controller="ClearFormCtrl">
  <label for="who">As an:</label>
  <input type="text" options="config" datasets="whoData" ng-model="storie.who" sf-typeahead>

  <label for="what">I want:</label>
  <input type="text" id="what" ng-model="storie.what" required>

  <label for="why">so that:</label>
  <input type="text" id="why" ng-model="storie.why" required>

  <textarea id="description" cols="30" rows="10" placeholder="eg: add a description" ng-model="storie.description" required></textarea>
</form>
