<!doctype html>
<html lang="en" ng-app="ClearApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Clear</title>
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" href="css/libs.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body
  ng-controller="HomeCtrl">

  <div
    ng-include=" 'views/shared/_top_nav.html' "></div>

  <div class="row" clear-form storie="storie"></div>

  <h1 class="row">This is a preview of the storie in Markdown</h1>

  <div class="row panel" clear-preview storie="storie"></div>

  <script src="js/vendors.min.js"></script>
  <script src="js/angular-all.min.js"></script>
  <script src="js/templates.js"></script>
  <script src="js/app.min.js"></script>
</body>
</html>
